body {
    background-color: white;
    margin: 5px;
    padding: 10px;
    width: 100%;
    height: 1200px;
    margin: auto;
    position: relative;
}

.contenedor {
    background-color: #F2F2F2;
    border: 1px solid black;
    padding: 7px;
    width: 76%;
    margin: 0 auto;
}

#titulo {
    text-align: center;
    margin-top: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

#DMRS {
    display: block;
    margin: auto;
    width: 180px;
    height: 200px;
    float: center;
    border-radius: 40px;
    border: 1px solid black;
    box-shadow: 1px 2px 10px black;
    inset-inline: center;
    filter: gravcale (100%);
}

#name {
    text-align: center;
    margin: 30px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

r {
    background: #efefef;
}

fieldset {
    margin: 10px;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 10px;
}

legend {
    background-color: rgb(157, 183, 194);
    padding: 5px;
    border-radius: 20px;
    font-weight: auto;
}